<!DOCTYPE html>
<html>
<head>
    <title>Secret</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h2>The secret message is </h2>
<br/><p><%= message %></p>
</body>
</html>
