<!DOCTYPE html>
<html>
  <head>
    <title>newsletter</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Subscribe</h1>
    <form action="/newsletter/subscribe" method="POST">
      <label>E-mail:</label>
      <input type="text" name ="email"/>

      <input type="hidden" name="_csrf" value="<%=csrftoken %>">
      <div><input type="submit"/></div>
    </form>
  </body>
</html>
