<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><a href="/add">Add</a><br/></p>
    <p><a href="/update">Update</a><br/></p>
    <p><a href="/delete">Delete</a><br/></p>
  </body>
</html>
